h1 {
    text-align: center;
  }
ul {
    text-align: center;
}

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    text-align: center;
    display: inline-block;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
  }

  .section {
    text-align: center;
  }

  .inline {
    display: inline;
  }